<!Doctype HTML>
<html>
    <head>
        <title>Sorts temporis VI</title>
        <meta charset="UTF-8">
        <script type = "text/javascript" src = "https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js" ></script>
    </head>
    <body>
        <div class="container mt-2" id="app">
            <div class="text-center">
                <h2>Sorts Temporis VI</h2>
                <button v-on:click="sort(spellsArr, '*')">Tous</button>
                <button v-on:click="sort(spellsArr, 'eau')">Sorts eau</button>
                <button v-on:click="sort(spellsArr, 'feu')">Sorts feu</button>
                <button v-on:click="sort(spellsArr, 'terre')">Sorts terre</button>
                <button v-on:click="sort(spellsArr, 'air')">Sorts air</button>
            </div>
            <div class="mt-5">
                <template v-for="(spell, index) in spellsArr">
                    <div class="card card-body" data-bs-toggle="collapse" :data-bs-target="`#collapse_${index}`" aria-expanded="false" :aria-controls="`collapse_${index}`">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 text-center">
                                <img :src="`${spell.image}`" width="50" height="50">
                            </div>
                            <div class="col-md-2 col-sm-1">
                                <table style="height: 100%; width: 100%">
                                    <tbody>
                                        <tr>
                                            <td class="align-middle text-center">{{spell.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3 col-sm-1">
                            </div>
                            <div class="col-md-2 col-sm-1">
                                <table style="height: 100%; width: 100%">
                                    <tbody>
                                        <tr>
                                            <td class="align-middle text-center">{{ getAllelements(spell.level[0].effect) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-2 col-sm-1">
                                <table style="height: 100%; width: 100%">
                                    <tbody>
                                        <tr>
                                            <td class="align-middle text-center">{{spell.level[0].level}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          </div>
                    </div>
                    <div class="collapse" :id="`collapse_${index}`">
                        <div class="card card-body">
                            <div class="mt-3 mb-3 bold">
                                <table class="table table-striped" style="width: 50%">
                                    <tbody>
                                        <tr>
                                            <td>Nombre de PA : {{spell.level[0].ap }} PA</td>
                                        </tr>
                                        <tr>
                                            <td v-if="spell.level[0].range.min == spell.level[0].range.max">Portée : {{spell.level[0].range.min }}</td>
                                            <td v-if="spell.level[0].range.min != spell.level[0].range.max">Portée : {{spell.level[0].range.min }} à {{spell.level[0].range.max }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center mt-1 mb-5">
                                {{spell.description }}
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-1">
                                    <div>
                                        <h4 class="mb-3">Effets Normaux</h4>
                                    </div>
                                    <table class="table table-striped">
                                        <tbody>
                                            <template v-for="(item, index) in spell.level[0].effect" :key="item.key">
                                                <tr>
                                                    <td>{{ getSetence(item.damage.desc, item.damage.min, item.damage.max) }}</td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-1">
                                    <div>
                                        <h4 class="mb-3">Effets Critique</h4>
                                    </div>
                                    <table class="table table-striped">
                                        <tbody>
                                            <template v-for="(item, index) in spell.level[0].criticalEffect" :key="item.key">
                                                <tr>
                                                    <td>{{ getSetence(item.damage.desc, item.damage.min, item.damage.max) }}</td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div>
                                    <h4 class="mb-3">Autres caractéristiques</h4>
                                </div>
                                <div class="col-md-6 col-sm-1">
                                    <table class="table table-striped">
                                        <tbody>
                                          <tr class='mr-2'>
                                            <td>Probabilité de coup critique</td>
                                            <td class="text-end" v-if="spell.level[0].CritcalProbability != 0">{{spell.level[0].CritcalProbability}} %</td>
                                            <td class="text-end" v-if="spell.level[0].CritcalProbability == 0">N'as pas de coup critique</td>
                                          </tr>
                                          <tr>
                                            <td>Portée modifiable</td>
                                            <td class="text-end" v-if="spell.level[0].rangeCanBeBoosted == true">Oui</td>
                                            <td class="text-end" v-if="spell.level[0].rangeCanBeBoosted == false">Non</td>
                                          </tr>
                                          <tr>
                                            <td>Lancer en ligne</td>
                                            <td class="text-end" v-if="spell.level[0].castInLine == true">Oui</td>
                                            <td class="text-end" v-if="spell.level[0].castInLine == false">Non</td>
                                          </tr>
                                          <tr>
                                            <td>Zone d'effet</td>
                                            <td class="text-end">{{ spell.level[0].effect[0].area }}</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-1">
                                    <div>
                                    </div>
                                    <table class="table table-striped">
                                        <tbody>
                                          <tr>
                                            <td>Nombre de lancer par tour</td>
                                            <td class="text-end" v-if="spell.level[0].minCastInterval != 0">{{ spell.level[0].maxCastPerTurn }}</td>
                                            <td class="text-end" v-if="spell.level[0].minCastInterval == 0 && spell.level[0].maxCastPerTurn != 0">{{ spell.level[0].maxCastPerTurn }}</td>
                                            <td class="text-end" v-if="spell.level[0].minCastInterval == 0 && spell.level[0].maxCastPerTurn == 0">Infini</td>
                                          </tr>
                                          <tr>
                                            <td>Nombre de lancer par cible</td>
                                            <td class="text-end">{{ spell.level[0].maxCastPerTarget }}</td>
                                          </tr>
                                          <tr>
                                            <td>Cumul max des effets</td>
                                            <td class="text-end">{{ spell.level[0].maxStack }}</td>
                                          </tr>
                                          <tr>
                                            <td>Interval de relance</td>
                                            <td class="text-end">{{ spell.level[0].minCastInterval }}</td>
                                          </tr>
                                          <tr>
                                            <td>Ligne de vue</td>
                                            <td class="text-end" v-if="spell.level[0].castTestLos == true">Oui</td>
                                            <td class="text-end" v-if="spell.level[0].castTestLos == false">Non</td>
                                          </tr>
                                          <tr>
                                            <td>Cellule vide</td>
                                            <td class="text-end" v-if="spell.level[0].needTakenCell == true">Non</td>
                                            <td class="text-end" v-if="spell.level[0].needTakenCell == false">Oui</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
          </div>
    </body>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                spellsArr: [],
                message: 'ok'
            },
            methods: {
                add: function(nb1, nb2){
                    return Number(nb1) + Number(nb2);
                },
                getAllelements: function(arr){
                    let elemArr = []
                    for(let x in arr) {
                        if(arr[x].element != -1 && arr[x].element != 0 && elemArr.includes(arr[x].element) == false) {
                            elemArr.push(arr[x].element);
                        }
                    }
                    return elemArr.toString();
                },
                sort: function(json, elem){
                    let elemArr = []
                    let secondArr = []
                    fetch("https://raw.githubusercontent.com/Llith0/spellTemporisVI/main/assets/json/spells.json")
                    .then(response => response.json())
                    .then(
                        json => 
                        {
                            for( let spells in json ){
                                for( let spell in json[spells] ){
                                    elemArr.push(json[spells][spell]);
                                    elemArr.sort((a,b) => (a.level[0].level > b.level[0].level) ? 1 : ((b.level[0].level > a.level[0].level) ? -1 : 0))
                                }
                            }
                            for(let x in elemArr) {
                                for(let y in elemArr[x].level) {
                                    for(let z in elemArr[x].level[y].effect) {
                                        if(elemArr[x].level[y].effect[z].element == elem && secondArr.includes(elemArr[x]) == false) {
                                            secondArr.push(elemArr[x])
                                        }
                                    }
                                }
                            }
                            if(elem == "*")
                                this.spellsArr = elemArr;
                            else {
                                this.spellsArr = secondArr;
                            }
                        }
                    );

                },
                getSetence: function(sentance, min, max) {
                    let finalSentance = ''
                    if(min == 0){
                        finalSentance = sentance.replace('#1', '').replace('#2', max).replace('{','').replace('}','').replace('~1','').replace('~2','').replace('à', '');
                    }
                    else if(max == 0) {
                        finalSentance = sentance.replace('#1', min).replace('#2', '').replace('{','').replace('}','').replace('~1','').replace('~2','').replace('à', '');
                    }
                    else {
                        finalSentance = sentance.replace('#1', min).replace('#2', max).replace('{','').replace('}','').replace('~1','').replace('~2','');
                    }
                    return finalSentance
                }
                },
            mounted(){
                fetch("https://raw.githubusercontent.com/Llith0/spellTemporisVI/main/assets/json/spells.json")
                .then(response => response.json())
                .then(
                    json => 
                    {
                        for( let spells in json ){
                            for( let spell in json[spells] ){
                                this.spellsArr.push(json[spells][spell]);
                                this.spellsArr.sort((a,b) => (a.level[0].level > b.level[0].level) ? 1 : ((b.level[0].level > a.level[0].level) ? -1 : 0))
                            }
                        }
                    }
                );
            },
        })
    </script>
</html>